# Node.js dependencies  
frontend/node_modules/  
frontend/package-lock.json  

# React build files  
frontend/build/  

# Python dependencies  
backend/__pycache__/   

# IDE-specific files  
.vscode/  
.idea/  

# Environment files  
.env  
.DS_Store  
